cargo-features = ["profile-rustflags"]

[workspace]
members = ["scraper", "web_app", "shared"]
resolver = "2"

[profile.release]
strip = true
debug = false
panic = "abort"
lto = "fat"
codegen-units = 1
opt-level = 3
rustflags = ["-C", "force-unwind-tables=no"]
