[workspace]
members = ["scraper", "web_app", "shared"]
resolver = "2"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
opt-level = 3
strip = true
debug = false
debug-assertions = false
overflow-checks = false
incremental = true
